@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@100&family=Climate+Crisis&family=DynaPuff:wght@500&family=Gajraj+One&family=Hanuman:wght@100;400&family=Koulen&family=Monoton&family=Odor+Mean+Chey&family=Open+Sans:wght@700&family=Poppins:wght@400;500;600;700&family=Rajdhani:wght@600&family=Siemreap&family=Ubuntu&display=swap');
:root {
    --red: #E85854; 
   
    
}
:root{
    --gray: #DFDFDF;
}
:root{
    --card: #fff; 
}
:root{
    --black: #000000;
}
.body{
    margin: 0px;
    padding: 0px;
}
.container-fluid{
    width: 100%;
    height: 100vh;
    background-color: var(--card);
}
.container{
    width: 100%;
    height: 100px;
}
.row{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 100%;
    height: 100%;
    /* background-color: green; */
}
.nav{
    display: flex;
    text-decoration: none;
    justify-content: space-evenly;
    align-items: center;
}
.nav a{
    text-decoration: none;
    color: black;
}
.content{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
}
img{
    width: 100%;
    height: 100%;
}
.title{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 87px;
    text-transform: capitalize;
    color: var(--black)

}
.paragraph{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black)
}
button{
    width: 150px;
    height: 50px;
    background-color: var(--red);
    border-radius: 10px;
    border: none;
    color: var(--card);
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.center h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: var(--black);
}
.center p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
}
.card-container{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-evenly;
    
}
.card-container .col-4{
    display: flex;
    justify-content: space-evenly;
}
.icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.icon img{
    width: 41px;
    height: 41px;
    border-radius: 50%;
    object-fit: cover;
}
.box{
    width: 378px;
    height: 250px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.n1{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;

}
.n2 {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.n3{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
.n3 i{
    font-size: 18px;
    color: #F1BB00;
}
.n11 img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    
}
.n11 p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
b{
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    padding-right: 6px;
}

